@model WatchAuth.ViewModels.AppViewModel
@{
    ViewBag.Title = "Home";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get)) 
{
    <div id="filters" class="row">
        <div class="col-5 px-0">
            @Html.EditorFor(x => x.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search by movie title" } })
        </div>
        <div class="col-3 px-0">
            @Html.DropDownListFor(x => x.Category, (SelectList)ViewBag.Categories, "Choose category", new { @class = "form-control" })
        </div>
        <div class="col-2 px-0">
            @Html.EnumDropDownListFor(x => x.SortBy, "Sort By", new { @class = "form-control"})
        </div>
        <div class="col-2 px-0">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
}
@foreach (var movie in Model.Movies)
{
    <hr>
    <div class="row movie">
        <div class="col-md-10">
            <p>@movie.Title</p>
        </div>
        <div class="col-md-2">
            @if (Model.FavoriteMovies.Contains(movie.Id))
            {
                <i id="@movie.Id" class="fas fa-heart"></i>
            }
            else
            {
                <i id="@movie.Id" class="far fa-heart"></i>
            }

        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $(".fa-heart").on("click", function (e) {
                $.ajax({
                    method: 'POST',
                    url: '/Home/ToggleFavorite',
                    data: {
                        movieId: e.target.id
                    },
                    success: function (response) {
                        console.log("SUCCESS");
                        console.log(response);
                        e.target.classList.toggle('far');
                        e.target.classList.toggle('fas');
                        //if (response) {  
                        //    e.target.classList.remove('far');
                        //    e.target.classList.add('fas');
                        //}
                        //else {
                        //    e.target.classList.remove('fas');
                        //    e.target.classList.add('far');
                        //}
                    },
                    error: function (response) {
                        console.log("ERROR");
                        console.log(response);
                    }
                });
            });
        });
    </script>    
}